<meta charset="utf-8" />
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta name="description" content="{{ description }}" />

<meta property="og:title" content="{{title}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{url}}" />
<meta property="og:description" content="{{description}}" />
<meta property="og:image" content="/img/favicon.png" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ title }}" />
<meta name="twitter:description" content="{{ description }}" />
<meta name="twitter:image" content="/img/favicon.png">
<meta name="twitter:image:alt" content="{{title }}" />

<link
  rel="icon"
  type="image/x-icon"
  href="/img/favicon.png" />

<link rel="preconnect" href="https://fonts.cdnfonts.com">

{% if syntaxRequired %}
  <link
    rel="stylesheet"
    type=" text/css"
    href=" /css/prism-dark.css" />
{% endif %}

<link
  rel="stylesheet"
  type="text/css"
  href="/css/index.css">

<link
  rel="stylesheet"
  type="text/css"
  href="https://fonts.cdnfonts.com/css/jetbrains-mono-2" />

<title>{{ title }}</title>
