---
import Footer from "../components/Footer.astro";
import HeaderLinks from "../components/HeaderLinks.astro";
import Projects from "../components/Projects.astro";
import Webring from "../components/Webring.astro";
import Page from "../layouts/Page.astro";

// Metadata
const title = "Espi Marisa";
const favicon = new URL("/favicon.png", Astro.url);
const url = "https://espi.me";

const pronouns = "she/her";
const location = "Birmingham, Alabama";

const description = `Software developer, tinkerer, activist, university student, and nerdy catgirl from ${location}.`;
---

<Page title={title} description={description} favicon={favicon} url={url}>
  <section class="container">
    <h1 id="name">{title}</h1>
    <span id="pronouns">({pronouns})</span>

    <div id="about">
      <p id="description">{description}</p>
    </div>

    <HeaderLinks />

    <div class="row">
      <div class="column">
        <Projects />
      </div>
      <div class="column">
        <Webring />
      </div>
    </div>
  </section>

  <Footer />
</Page>
