---
import { accounts } from "@/utils/accounts.ts";

const { ...props } = Astro.props;
---

<head>
  <!-- Layout -->
  <meta charset="utf8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Metadata -->
  <link rel="me" href="https://uwu.social/@espi" />
  <meta name="description" content={props.description} />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:description" content={props.description} />
  <meta name="twitter:image:alt" content={props.title} />
  <meta name="twitter:title" content={props.title} />
  <meta property="og:description" content={props.description} />
  <meta property="og:image" content="/mstile-150x150.png" />
  <meta property="og:title" content={props.title} />
  <meta property="og:type" content="website" />
  <meta property="twitter:image" content="/mstile-150x150.png" />
  <title>{props.title}</title>
  <slot />
</head>
