---
import { headerLinks } from "../utils/headerlinks.js";
import Link from "./Link.astro";
---

<ul id="header-links">
  {
    headerLinks.map((link) => {
      return (
        <li>
          <Link href={link.link} content={link.name} title={link.altText} />
          <span>
            -
            <Link href={link.link} content={link.username} title={link.altText} idName="header-link-username" />
          </span>
        </li>
      ) as Element;
    })
  }
</ul>
