---
layout: default.liquid
title: Espi {Mari}sa
description: tinkerer, activist, computer science student.
pronouns: any/all

bluesky: espi.me
blueskydid: did:plc:tuihqhadazqooxe5fhw6dhzk
github: espimarisa
telegram: espimarisa
email: contact@espi.me
---

{% comment %} Header {% endcomment %}
<header>
  <h1 class="has-no-margin">{{ title }}</h1>
  <h2 class="has-no-margin">{{ description }}</h2>
  <ul>
    <li>
      <a href="https://bsky.app/profile/{{ blueskydid }}" title="bluesky" target="_blank">bluesky</a>
      <span>(@{{ bluesky }})</span>
    </li>
    <li>
      <a href="https://github.com/{{ github }}" title="github" target="_blank">github</a>
      <span>({{ github }})</span>
    </li>
    <li>
      <a href="https://t.me/{{ telegram }}" title="telegram" target="_blank">telegram</a>
      <span>(@{{ telegram }})</span>
    </li>
    <li>
      <a href="mailto:{{ email }}" title="email" target="_blank">email</a>
      <span>({{ email }})</span>
    </li>
  </ul>
</header>

{% comment %} About {% endcomment %}
<section>
  <h2 class="has-no-margin is-inline">hi, i'm espi (or mari!)</h2>
  <small class="is-inline">({{ pronouns }})</small>
  <p class="has-no-margin">i'm a nonbinary person from the brighter part of appalachia.</p>
  <p>currently, i'm a computer science student at
    <a href="https://auburn.edu" title="auburn university" target="_blank">auburn university.</a>
  </p>
  <p>i tinker with hardware and software and enjoy messing around with often forgotten pieces of technology, especially older thinkpads,
    laptops, and other oddities.
  </p>
  <p>in my spare time, i volunteer for
    <a href="https://altrac.works" title="altrac.works" target="_blank">the alabama transgender rights action coalition</a>, helping fight discriminatory legislature and to spread awareness of
    <a href="https://altgo.us" title="altgo.us" target="_blank">local resources</a>.
  </p>
</section>

{% comment %} Journal {% endcomment %}
<section>
  <h2 class="has-no-margin">journal</h2>
  <p class="has-no-margin">journal entries about my interests, from tech to travels</p>
  <ul>
    {%- for journal in collections.journal %}
      <li>
        <a href="{{ journal.url }}">{{ journal.data.title }}</a>
        <span>({{ journal.date | postDate }})</span>
      </li>
    {%- endfor %}
  </ul>
</section>

{% comment %} Projects {% endcomment %}
<section>
  <h2 class="has-no-margin">projects</h2>
  <p class="has-no-margin">occasionally i make something useful</p>
  <ul>
    {%- for project in collections.projects %}
      <li>
        <a href="{{ project.data.url }}" title="{{ project.data.title }}" target="_blank">{{ project.data.title }}</a>
        <p class="has-no-margin">{{ project.data.description }}</p>
      </li>
    {%- endfor %}
  </ul>
</section>

{% comment %} Webring {% endcomment %}
<details>
  <summary>webring</summary>
  <p class="has-no-margin">hello there, fellow 88x31 traveler</p>
  <ul>
    {%- for ring in collections.webring %}
      {% if ring.data.link %}
        <a href="{{ ring.data.link }}" title="{{ ring.data.name }}" class="webring-image" target="_blank">
          <img
            src="/img/webring/{{ ring.data.file | url }}"
            alt="{{ ring.data.title }}"
            title="{{ ring.data.title }}"
            width="88px"
            height="31px" />
        </a>
      {% else %}
        <img
          src="/img/webring/{{ ring.data.file | url }}"
          alt="{{ ring.data.title }}"
          title="{{ ring.data.title }}"
          width="88px"
          height="31px" />
      {% endif %}
    {%- endfor %}
  </ul>
</details>
