---
layout: default.liquid
title: espi marisa!
description: i made you a cookie but i eated it
email: contact@espi.me
github: espimarisa
bluesky: espi.me
blueskydid: did:plc:tuihqhadazqooxe5fhw6dhzk
telegram: espimarisa
---

{% comment %} Header {% endcomment %}
<header>
  <h1>{{ title }}</h1>
  <h4>{{ description }}</h4>

  <nav>
    <ul>
      <li><a href="/journal/" title="journal">journal entries</a></li>
      <li><a href="mailto:{{ email }}" title="email" target="_blank">{{ email }}</a></li>
      <li><a href="https://github.com/{{ github }}" title="github" target="_blank">github.com/{{ github }}</a></li>
      <li><a href="https://telegram.me/{{ telegram }}" title="telegram" target="_blank">telegram.me/{{ telegram }}</a></li>
      <li><a href="https://bsky.app/profile/{{ blueskydid }}" title="bluesky" target="_blank">bsky.app/profile/{{ bluesky }}</a></li>
    </ul>
  </nav>
</header>

<main>
  {% comment %} About {% endcomment %}
  <section id="about">
    <details open>
      <summary>
        <span>hi, i'm espi, aka mari!</span>
      </summary>

      <p>i'm a visually impaired computer science student currently attending
        <a
          href="https://auburn.edu"
          title="auburn university"
          target="_blank">auburn university</a>.
      </p>

      <p class="has-top-margin">in my spare time, i mess around with random bits of hardware, software, and electronics.</p>
      <p>additionally, i'm a hobbyist software developer that occasionally makes something useful.</p>

      <p class="has-top-margin">i volunteer for
        <a
          href="https://altrac.works"
          title="altrac"
          target="_blank">the alabama transgender rights action coalition</a>
        to defend queer and trans rights in alabama. i also document
        <a
          href="https://altgo.us"
          title="altgo"
          target="_blank">local resources and legal guides</a>
        for the trans alabamian community.</p>

      <p class="has-top-margin">outside of busywork, i enjoy watching anime, going thrifting, poorly playing the guitar, meteorological research, anything pok&eacute;mon related, and exploring my home region of appalachia and the deep south.</p>
    </details>
  </section>

  {% comment %} Projects {% endcomment %}
  <section id="projects">
    <details open>
      <summary>
        <span>projects</span>
      </summary>

      <p>some nifty things that i've made or contributed to:</p>
      <div class="row">
        {% for project in collections.projects reversed %}
          <box class="column">
            <a
              href="{{ project.data.url }}"
              title="{{ project.data.title }}"
              target="_blank">

              <p class="title">{{ project.data.title }}</p>
              <p>{{ project.data.description }}</p>
              <p>
                <small class="italics">
                  {{ project.data.technologies }}
                </small>
              </p>
            </a>
          </box>
        {% endfor %}
      </div>
    </details>
  </section>

  {% comment %} Webring {% endcomment %}
  <section id="webring">
    <details open>
      <summary>
        <span>webring</span>
      </summary>

      <p>say hi to my awesome friends:</p>
      <ul>
        {% for ring in collections.webring %}
          {% comment %} only append a to buttons with links {% endcomment %}
          {% if ring.data.link %}
            <a
              href="{{ ring.data.link }}"
              title="{{ ring.data.name }}"
              target="_blank">
          {% endif %}

          <img
            src="/img/webring/{{ ring.data.file | url }}"
            alt="{{ ring.data.title }}"
            title="{{ ring.data.title }}" />

          {% comment %} nasty inline trick to avoid duplication {% endcomment %}
          {% if ring.data.link %}
            </a>
          {% endif %}
        {% endfor %}
      </ul>
    </details>
  </section>
</main>
