---
layout: default.liquid
title: Espi Marisa
description: Silly enby, blind developer, queer activist.
bluesky: espi.me
blueskydid: did:plc:tuihqhadazqooxe5fhw6dhzk
github: espimarisa
keybase: espimarisa
discord: espimarisa
discordID: 647269760782041133
telegram: espimarisa
twitterx: espidotme
signal: espimarisa.01
signalURL: https://signal.me/#eu/0rRdxJjNEyP9MRGqdRo7p0iiMR2dO0tsTKMskW2_YeO5aBb5FVpOKKCBDcfwIfhN
email: contact@espi.me
---

{% comment %} Header {% endcomment %}
<header>
  <h1>{{ title }}</h1>
  <h3>{{ description }}</h3>

  <nav>
    {% comment %} Links {% endcomment %}
    <ul>
      <li>
        <a
          href="https://bsky.app/profile/{{ blueskydid }}"
          title="Bluesky"
          target="_blank">Bluesky</a>

        <span>(@{{ bluesky }})</span>
      </li>
      <li>
        <a
          href="https://github.com/{{ github }}"
          title="GitHub"
          target="_blank">GitHub</a>

        <span>(@{{ github }})</span>
      </li>
      <li>
        <a
          href="https://discord.com/users/{{ discordID }}"
          title="discord"
          target="_blank">Discord</a>

        <span>(@{{ discord }})</span>
      </li>
      <li>
        <a
          href="https://t.me/{{ telegram }}"
          title="telegram"
          target="_blank">Telegram</a>

        <span>(@{{ telegram }})</span>
      </li>
      <li>
        <a
          href="https://x.com/{{ twitterx }}"
          title="Twitter/X"
          target="_blank">Twitter/X</a>

        <span>(@{{ twitterx }})</span>
      </li>
      <li>
        <a
          href="https://keybase.io/{{ keybase }}"
          title="keybase"
          target="_blank">Keybase</a>

        <span>(@{{ keybase }})</span>
      </li>
      <li>
        <a
          href="{{ signalURL }}"
          title="signal"
          target="_blank">Signal</a>

        <span>(@{{ signal }})</span>
      </li>
      <li>
        <a
          href="mailto:{{ email }}"
          title="email"
          target="_blank">Email</a>

        <span>({{ email }})</span>
      </li>
    </ul>
  </nav>
</header>

<main>
  {% comment %} About {% endcomment %}
  <section id="about">
    <h2>Hi, my name's Espi!</h2>
    <p>
      I'm a blind developer, tinkerer, and activist from Huntsville, Alabama.
    </p>
    <p>Currently, I'm a final year Computer Science student at Auburn University.
    </p>

    <br/>

    <p>I work with the
      <a
        href="https://altrac.works"
        title="ALTRAC"
        target="_blank">Alabama Transgender Rights Action Coalition</a>
      to fight discriminatory legislature.
    </p>

    <p>
      In addition, I help maintain a collection of
      <a
        href="https://altgo.us"
        title="ALTGO"
        target="_blank">local resources</a>
      for queer and transgender Alabamians.
    </p>

    <br/>
    <p>In my spare time, I enjoy watching anime, researching severe weather, playing the acoustic guitar, anything Pokémon related, and exploring my home region of Appalachia and the further deep south.</p>
  </section>

  {% comment %} Projects {% endcomment %}
  <section id="projects">
    <h2>Projects</h2>
    <p>
      Some notable things that I've made or contributed to:
    </p>
    <div class="row">
      {% for project in collections.projects reversed %}
        <box class="column">
          <a
            href="{{ project.data.url }}"
            title="{{ project.data.title }}"
            target="_blank">
            <p class="title">{{ project.data.title }}</p>
            <p>{{ project.data.description }}</p>
            <p>
              <small>
                <i>
                  {{ project.data.technologies }}
                </i>
              </small>
            </p>
          </a>
        </box>
      {% endfor %}
    </div>
  </section>

  {% comment %} Webring {% endcomment %}
  <section id="webring">
    {% for ring in collections.webring %}
      {% comment %} only append a to buttons with links {% endcomment %}
      {% if ring.data.link %}
        <a
          href="{{ ring.data.link }}"
          title="{{ ring.data.name }}"
          target="_blank">
      {% endif %}

      {% comment %} Nasty hotlink support {% endcomment %}
      {% if ring.data.hotlink %}
        <img
          src="{{ ring.data.hotlink }}"
          alt="{{ ring.data.title }}"
          title="{{ ring.data.title }}"
          width="88px"
          height="31px">
      {% else %}
        <img
          src="/img/webring/{{ ring.data.file | url }}"
          alt="{{ ring.data.title }}"
          title="{{ ring.data.title }}"
          width="88px"
          height="31px">
      {% endif %}

      {% comment %} nasty inline trick to avoid duplication {% endcomment %}
      {% if ring.data.link %}
        </a>
      {% endif %}
    {% endfor %}
  </section>
</main>
