---
layout: default.liquid
title: Espi Marisa
description: Blind developer and activist.
bluesky: "espi.me"
blueskydid: "did:plc:tuihqhadazqooxe5fhw6dhzk"
discordHandle: "espimarisa"
discordID: "647269760782041133"
email: "contact@thisdomain"
emailURL: "contact@espi.me"
github: "espimarisa"
keybase: "espimarisa"
signalHandle: "espimarisa.01"
signalURL: "https://signal.me/#eu/0rRdxJjNEyP9MRGqdRo7p0iiMR2dO0tsTKMskW2_YeO5aBb5FVpOKKCBDcfwIfhN"
telegram: "espimarisa"
twitterx: "espidotme"
---

{% comment %} Header {% endcomment %}
<header>
  <h1>{{ title }}</h1>
  <h3>{{ description }}</h3>

  <nav>
    {% comment %} Links {% endcomment %}
    <ul>
      <li>
        <a
          aria-label="Bluesky: {{ bluesky }}"
          href="https://bsky.app/profile/{{ blueskydid }}"
          target="_blank"
          title="Bluesky: {{ bluesky }}">Bluesky</a>

        <span>&rightarrow; {{ bluesky }}</span>
      </li>
      <li>
        <a
          aria-label="GitHub: {{ github }}"
          href="https://github.com/{{ github }}"
          target="_blank"
          title="GitHub: {{ github }}">GitHub</a>

        <span>&rightarrow; {{ github }}</span>
      </li>
      <li>
        <a
          aria-label="Discord: {{ discordHandle }}"
          href="https://discord.com/users/{{ discordID }}"
          target="_blank"
          title="Discord: {{ discordHandle }}">Discord</a>

        <span>&rightarrow; {{ discordHandle }}</span>
      </li>
      <li>
        <a
          aria-label="Keybase: {{ keybase }}"
          href="https://keybase.io/{{ keybase }}"
          target="_blank"
          title="Keybase: {{ keybase }}">Keybase</a>

        <span>&rightarrow; {{ keybase }}</span>
      </li>
      <li>
        <a
          aria-label="Twitter/X: {{ twitterx }}"
          href="https://x.com/{{ twitterx }}"
          target="_blank"
          title="Twitter/X: {{ twitterx }}">Twitter/X</a>

        <span>&rightarrow; {{ twitterx }}</span>
      </li>
      <li>
        <a
          aria-label="Telegram: {{ telegram }}"
          href="https://t.me/{{ telegram }}"
          target="_blank"
          title="Telegram: {{ telegram }}">Telegram</a>

        <span>&rightarrow; {{ telegram }}</span>
      </li>
      <li>
        <a
          aria-label="Signal: {{ signalHandle }}"
          href="{{ signalURL }}"
          target="_blank"
          title="Signal: {{ signalHandle }}">Signal</a>

        <span>&rightarrow; {{ signalHandle }}</span>
      </li>
      <li>
        <a
          aria-label="Email: {{ email }}"
          href="mailto:{{ emailURL }}"
          target="_blank"
          title="Email: {{ email }}">Email</a>

        <span>&rightarrow; {{ email }}</span>
      </li>
    </ul>
  </nav>
</header>

<main>
  {% comment %} About {% endcomment %}
  <section id="about">
    <h2>Hi, my name's Espi!</h2>
    <p>
      I'm a blind developer, tinkerer, and activist from Huntsville, Alabama.
    </p>
    <p>Currently, I'm a final year Computer Science student at Auburn University.</p>

    <br/>

    <p>I work with the
      <a
        href="https://altrac.works"
        title="ALTRAC"
        target="_blank">Alabama Transgender Rights Action Coalition</a>
      to fight discriminatory legislature.
    </p>

    <p>
      In addition, I help maintain a collection of
      <a
        href="https://altgo.us"
        title="ALTGO"
        target="_blank">local resources</a>
      for queer and transgender Alabamians.
    </p>

    <br/>
    <p>In my spare time, I enjoy watching anime, researching severe weather, playing the guitar (poorly), anything 
      Pokémon related, and exploring my home region of Appalachia and the further deep south.</p>
  </section>

  {% comment %} Projects {% endcomment %}
  <section id="projects">
    <h2>Projects</h2>
    <p>
      Some notable things that I've made or contributed to:
    </p>
    <div class="row">
      {% for project in collections.projects reversed %}
        <box class="column">
          <a
            href="{{ project.data.url }}"
            title="{{ project.data.title }}"
            target="_blank">
            <p class="title">{{ project.data.title }}</p>
            <p>{{ project.data.description }}</p>
            <p>
              <small>
                <i>
                  {{ project.data.technologies }}
                </i>
              </small>
            </p>
          </a>
        </box>
      {% endfor %}
    </div>
  </section>

  {% comment %} Webring {% endcomment %}
  <section id="webring">
    {% for ring in collections.webring %}
      {% comment %} only append a to buttons with links {% endcomment %}
      {% if ring.data.link %}
        <a
          href="{{ ring.data.link }}"
          title="{{ ring.data.name }}"
          target="_blank">
      {% endif %}

      {% comment %} Nasty hotlink support {% endcomment %}
      {% if ring.data.hotlink %}
        <img
          src="{{ ring.data.hotlink }}"
          alt="{{ ring.data.title }}"
          title="{{ ring.data.title }}"
          width="88px"
          height="31px">
      {% else %}
        <img
          src="/img/webring/{{ ring.data.file | url }}"
          alt="{{ ring.data.title }}"
          title="{{ ring.data.title }}"
          width="88px"
          height="31px">
      {% endif %}

      {% comment %} nasty inline trick to avoid duplication {% endcomment %}
      {% if ring.data.link %}
        </a>
      {% endif %}
    {% endfor %}
  </section>
</main>
