---
layout: default.liquid
title: espi marisa!
description: cs student, tinkerer, activist
pronouns: any/all

bluesky: espi.me # Bluesky handle
blueskydid: did:plc:tuihqhadazqooxe5fhw6dhzk # Bluesky DiD for hyperlinking to
github: espimarisa # GitHub handle
discord: espimarisa # Discord username
discordInviteCode: v5WUBgCpJ6 # Discord server invite
telegram: espimarisa # Telegram handle
signal: espimarisa.01 # Signal handle
signalLink: https://signal.me/#eu/0rRdxJjNEyP9MRGqdRo7p0iiMR2dO0tsTKMskW2_YeO5aBb5FVpOKKCBDcfwIfhN # Signal URL
email: contact@espi.me # Public email
---

{% comment %} Header {% endcomment %}
<header>
  <h1 class="has-no-margin">{{ title }}</h1>
  <h2 class="has-no-margin">{{ description }}</h2>
  <ul>
    <li>
      <a href="https://bsky.app/profile/{{ blueskydid }}" title="bluesky" target="_blank">bluesky</a>
      <span>[@{{ bluesky }}]</span>
    </li>
    <li>
      <a href="https://github.com/{{ github }}" title="github" target="_blank">github</a>
      <span>[@{{ github }}]</span>
    </li>
    <li>
      <a href="https://discord.gg/{{ discordInviteCode }}" title="discord" target="_blank">discord</a>
      <span>[@{{ discord }}]</span>
    </li>
    <li>
      <a href="https://t.me/{{ telegram }}" title="telegram" target="_blank">telegram</a>
      <span>[@{{ telegram }}]</span>
    </li>
    <li>
      <a href="{{ signalLink }}" title="signal" target="_blank">signal</a>
      <span>[@{{ signal }}]</span>
    </li>
    <li>
      <a href="mailto:{{ email }}" title="email" target="_blank">email</a>
      <span>[{{ email }}]</span>
    </li>
  </ul>
</header>

{% comment %} about {% endcomment %}
<section>
  {% comment %} intro {% endcomment %}
  <h2 class="has-no-margin is-inline">hi, i'm espi, aka mari!</h2>
  <small class="is-inline">({{ pronouns }})</small>

  <p class="has-no-margin">i'm a visually impaired computer science student at
    <a href="https://auburn.edu" title="auburn university" target="_blank">auburn university</a>.
  </p>

  <br/>

  <p class="has-no-margin">i mess with software, electronics, and anything that i get my hands on.</p>
  <p class="has-no-margin">occasionally, i
    <a href="/blog/">write about</a>
    those adventures and other interests of mine.</p>

  <p>i volunteer with
    <a href="https://altrac.works" title="altrac.works" target="_blank">the alabama transgender rights action coalition</a>
    to help defeat discriminatory legislature and to bring awareness to
    <a href="https://altgo.us" title="altgo.us" target="_blank">our local lgbtq+ resources</a>.
  </p>

  <p>outside of busywork, i enjoy watching anime, going thrifting, playing the guitar, documenting severe weather, and exploring my home of
    appalachia and the deep south.
  </p>

  <p>
    all messages and inquiries are welcome via the contact methods linked. i won't bite!
  </p>
</section>

<!--
{% comment %} Blog {% endcomment %}<section>  <h2 class="has-no-margin">blog</h2>  <p class="has-no-margin">blog posts about my interests, from tech to travels</p>  <ul>    {%- for post in collections.posts %}      <li>        <a href="{{ post.url }}">{{ post.data.title }}</a>        <span>({{ post.date | postDate }})</span>      </li>    {%- endfor %}  </ul></section>
-->
{% comment %} Projects {% endcomment %}
<section>
  <h2 class="has-no-margin">projects</h2>
  <ul>
    {%- for project in collections.projects %}
      <li>
        <a href="{{ project.data.url }}" title="{{ project.data.title }}" target="_blank">{{ project.data.title }}</a>
        <p class="has-no-margin">{{ project.data.description }}</p>
      </li>
    {%- endfor %}
  </ul>
</section>

{% comment %} Webring {% endcomment %}
<details>
  <summary>
    <span class="has-no-margin">webring</span>
  </summary>
  <p class="has-no-margin">why hello there, 88x31 traveller!</p>
  <ul class="webring-list">
    {%- for ring in collections.webring %}
      {% if ring.data.link %}
        <a href="{{ ring.data.link }}" title="{{ ring.data.name }}" class="webring-image" target="_blank">
          <img
            src="/img/webring/{{ ring.data.file | url }}"
            alt="{{ ring.data.title }}"
            title="{{ ring.data.title }}"
            width="88px"
            height="31px" />
        </a>
      {% else %}
        <img
          src="/img/webring/{{ ring.data.file | url }}"
          alt="{{ ring.data.title }}"
          title="{{ ring.data.title }}"
          width="88px"
          height="31px" />
      {% endif %}
    {%- endfor %}
  </ul>
</details>
