---
layout: default.liquid
title: journal
description: occasional writings and ramblings
---

<header>
  <h1>{{ title }}</h1>
  <h4>{{ description }}</h4>
</header>

{% comment %} Posts {% endcomment %}
<div id="journal-list">
  <ul>
    {% for post in collections.post %}
      <li>
        <h4>
          <a href="{{ post.data.permalink }}">{{ post.data.title }}</a>
        </h4>
        <p>{{ post.data.description }}</p>
        <span>
          <small>{{ post.date | postDate }}</small>
        </span>
      </li>
    {% endfor %}
  </ul>
</div>

{% comment %} Footer {% endcomment %}
<footer>
  <ul>
    <li><a href="/">home</a></li>
  </ul>
</footer>
